<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Hi, {{name}}</p>
  <p>It seems a password change request for you account has been made.</p>
  <p>If that was you, please click on the link below to create a new password.</p>
  <p>
    <a href="{{link}}">Reset password</a>
  </p>
  <p>If that wasn't you, though, you can just discard this email!</p>
  <p>
    Kind regards! <br />
    <strong>GoBarber Team</strong>
  </p>
</div>
